In [2]:
import pandas as pd 
import numpy as np
from utils import *

In [2]:
!ls

LICENSE           README.md         data              exploring_2.ipynb

In [3]:
data = pd.read_csv('data/kidney_disease/kidney_disease.csv')

In [4]:
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [5]:
data.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [39]:
data['pc'].dtype

dtype('O')

In [40]:
type(data['pc'][0])

str

In [16]:
num_variables = []
categ_variables = []

In [22]:
columns = list(data.columns)
n = len(columns)
for i in range(n):
    if data[columns[i]].dtype == 'int' or data[columns[i]].dtype == 'float':
        num_variables.append(columns[i])
    else : 
        categ_variables.append(columns[i])

## Nettoyage données banknote

In [23]:
data2 = pd.read_csv('data/banknote/data_banknote_authentication.txt')

In [25]:
data2.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [26]:
data2.columns

Index(['variance', 'skewness', 'curtosis', 'entropy', 'class'], dtype='object')

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

## Pre-processing

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, StandardScaler, OneHotEncoder

Replacing missing values

In [80]:
def detect_type(data):
    data = data.iloc[:,:-1]
    num_variables = []
    categ_variables = []
    columns = list(data.columns)
    n = len(columns)
    for i in range(n):
        if data[columns[i]].dtype == 'int' or data[columns[i]].dtype == 'float':
            num_variables.append(columns[i])
        else : 
            categ_variables.append(columns[i])
    return num_variables, categ_variables

In [87]:
def replace_missing(data, num_variables, categ_variables, num_strategy = 'mean', categ_strategy = 'most_frequent'):
    data = data.iloc[:,:-1]
    ct = ColumnTransformer([("categ_imput", SimpleImputer(missing_values = np.nan, strategy = categ_strategy), categ_variables),
                        ("num_imput", SimpleImputer(missing_values = np.nan, strategy = num_strategy), num_variables)])
    data_transformed = ct.fit_transform(data)
    columns = categ_variables + num_variables
    data_tr_table = pd.DataFrame(data_transformed, columns = columns)
    return data_tr_table

Normalizing and enconding the data

In [88]:
def center_encode(data, num_variables, categ_variables):
    cat_enc = OneHotEncoder()
    center_norm = StandardScaler()
    ct = ColumnTransformer([("categ_encod", cat_enc, categ_variables),
                        ("norm", center_norm, num_variables)])
    data_transformed = ct.fit_transform(data)
    columns = categ_variables + num_variables
    data_tr_table = pd.DataFrame(data_transformed, columns = columns)
    return data_tr_table

In [89]:
num_variables, categ_variables = detect_type(data2)

In [90]:
num_variables

['variance', 'skewness', 'curtosis', 'entropy']

In [97]:
data_tr = replace_missing(data2, num_variables, categ_variables)

In [98]:
data_tr.shape

(1372, 4)

In [99]:
center_encode(data_tr, num_variables, categ_variables)

      variance  skewness  curtosis   entropy
0     1.121806  1.149455 -0.975970  0.354561
1     1.447066  1.064453 -0.895036 -0.128767
2     1.207810 -0.777352  0.122218  0.618073
3     1.063742  1.295478 -1.255397 -1.144029
4    -0.036772 -1.087038  0.736730  0.096587
...        ...       ...       ...       ...
1367 -0.009711 -0.097693 -0.660962  0.300996
1368 -0.641313 -1.158984  1.179023  0.730127
1369 -1.472357 -2.621646  3.759017 -0.754884
1370 -1.406693 -1.756471  2.552043 -0.043158
1371 -1.047122 -0.439822  0.298616  1.136464

[1372 rows x 4 columns]