In [1]:
import pandas as pd
import numpy as np

import seaborn as sns ;sns.set(rc={'figure.figsize':(20,10)})

import matplotlib.pyplot as plt
plt.rcParams ['figure.figsize']  = 25, 10
plt.rcParams ['axes.labelsize']  = 14
plt.rcParams ['xtick.labelsize'] = 12
plt.rcParams ['ytick.labelsize'] = 12
plt.rcParams ['text.color']      = 'black'
plt.rcParams ['axes.labelcolor'] = 'black'
plt.rcParams ['xtick.color']     = 'black'
plt.rcParams ['ytick.color']     = 'black'
plt.style.use('fivethirtyeight')


import warnings
warnings.filterwarnings("ignore")


pd.options.display.float_format = '{:,.5f}'.format
pd.options.display.max_rows = 150
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 0


from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

%load_ext autoreload
%autoreload 2

## Explore datasets

In [3]:
kidney_dataset = pd.read_csv('../data/kidney_disease/kidney_disease.csv')

In [4]:
kidney_dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.00000,80.00000,1.02000,1.00000,0.00000,NaN,normal,notpresent,notpresent,121.00000,36.00000,1.20000,nan,nan,15.40000,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.00000,50.00000,1.02000,4.00000,0.00000,NaN,normal,notpresent,notpresent,nan,18.00000,0.80000,nan,nan,11.30000,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.00000,80.00000,1.01000,2.00000,3.00000,normal,normal,notpresent,notpresent,423.00000,53.00000,1.80000,nan,nan,9.60000,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.00000,70.00000,1.00500,4.00000,0.00000,normal,abnormal,present,notpresent,117.00000,56.00000,3.80000,111.00000,2.50000,11.20000,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.00000,80.00000,1.01000,2.00000,0.00000,normal,normal,notpresent,notpresent,106.00000,26.00000,1.40000,nan,nan,11.60000,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.00000,80.00000,1.02000,0.00000,0.00000,normal,normal,notpresent,notpresent,140.00000,49.00000,0.50000,150.00000,4.90000,15.70000,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.00000,70.00000,1.02500,0.00000,0.00000,normal,normal,notpresent,notpresent,75.00000,31.00000,1.20000,141.00000,3.50000,16.50000,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.00000,80.00000,1.02000,0.00000,0.00000,normal,normal,notpresent,notpresent,100.00000,26.00000,0.60000,137.00000,4.40000,15.80000,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.00000,60.00000,1.02500,0.00000,0.00000,normal,normal,notpresent,notpresent,114.00000,50.00000,1.00000,135.00000,4.90000,14.20000,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.00000,80.00000,1.02500,0.00000,0.00000,normal,normal,notpresent,notpresent,131.00000,18.00000,1.10000,141.00000,3.50000,15.80000,53,6800,6.1,no,no,no,good,no,no,notckd